.container {
  padding: var(--buffer);
}

.card {
  display: flex;
  justify-content: center;
  padding-top: var(--buffer);
  overflow: hidden;
  gap: var(--buffer);
  border-radius: calc(var(--buffer) / 3);
  background: hsl(0 0% 95%);
}

@media (max-width: 1350px) {
  .card {
    flex-direction: column;
    padding: var(--buffer);
    padding-bottom: 0;
  }
}

.side {
  display: flex;
  gap: 20px;
}

@media (min-width: 1351px) {
  .side {
    flex-direction: column;
    width: var(--sidebar-width);
    margin-top: calc(var(--buffer));
    margin-left: var(--horizontal-offset);
    text-align: right;
  }
}

@media (max-width: 1350px) {
  .side {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.main {
  max-width: var(--main-width);
}

@media (max-width: 1350px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1350px) {
  .main {
    margin-top: var(--buffer);
  }
}

.date {
  color: hsl(0 0% 50%);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title {
  margin-left: -25px;
  padding-bottom: calc(var(--buffer) / 2);
  padding-left: 25px;
  border-bottom: var(--stroke) solid hsl(var(--hue) 100% 75%);
  font-size: 38px;
  line-height: 46px;
}

@media (max-width: 1350px) {
  .title {
    margin-right: -25px;
    padding-right: 25px;
  }
}

.tagline {
  font-weight: 400;
}

.editor {
  display: flex;
  position: relative;
  justify-content: stretch;
  min-height: 20em;
}

.results {
  position: relative;
  margin-top: calc(var(--buffer) / 2);
}

@media (min-width: 1025px) {
  .results {
    width: 2000px;
  }
}
