.container {
  --side-padding: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px var(--side-padding);
  overflow: scroll hidden;
  border-radius: 5px;
  background: hsl(var(--hue) 100% 97%);
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
  white-space: pre;
}

.highlit .line {
  border-left: 5px solid transparent;
  opacity: 0.65;
}

.highlit .highlight {
  margin: 0 calc(-1 * var(--side-padding));
  padding: 0 var(--side-padding);
  border-left-color: hsl(var(--hue) 100% 85%);
  background: hsl(var(--hue) 100% 95%);
  opacity: 1;
}

.comment {
  color: rgb(99, 119, 119);
  font-style: italic;
}

.string,
.url,
.symbol {
  color: hsl(var(--hue) 50% 35%);
}

.variable {
  color: rgb(187, 73, 62);
}

.number {
  color: rgb(247, 140, 108);
}

.builtin,
.char,
.constant,
.function {
  color: hsl(var(--complementary-hue) 50% 35%);
}

.tag,
.operator,
.keyword {
  color: rgb(255, 0, 0);
}

.boolean {
  color: rgb(255, 88, 116);
}

.property {
  color: rgb(13, 101, 92);
}

.namespace {
  color: rgb(178, 204, 214);
}
