@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Crimson+Text:400,600');

/* Fix for IE */
wbr:after {
  content: "\00200B";
}

article {
  width: calc(100px + 70vw);
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

footer {
  margin: 50px 0 20px;
  position: relative;
}

.footer-contact {
  margin: 0 -15px;
  padding: 0 15px;
  background: white;
  text-decoration: none;
  color: hsl(210, 75%, 45%);
  font-size: 24px
}

.footer-contact:hover {
  text-decoration: underline;
}

.footer-rule {
  width: 100vw;
  height: 1px;
  margin-left: -50vw;
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: -1;
  background: lightgray;
  border: 0;
}

.footer-copyright {
  font-family: "Crimson Text";
  text-align: right;
  font-size: 14px;
  color: gray;
}

.glasses {
  width: 80%;
  margin: 0 auto;
  padding-bottom: calc(0.53774 * 80%);
  background-image: url("/images/glasses.jpg");
  background-size: cover
}

.glasses[data-column^="-"] {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.glasses[data-row="-2"][data-column="0"] {
  background-position-y: 0%;
}

.glasses[data-row="-2"][data-column="1"], .glasses[data-row="-2"][data-column="-1"] {
  background-position-y: 35.71429%;
}

.glasses[data-row="-2"][data-column="2"], .glasses[data-row="-2"][data-column="-2"] {
  background-position-y: 71.42857%;
}

.glasses[data-row="-1"][data-column="0"] {
  background-position-y: 7.14286%;
}

.glasses[data-row="-1"][data-column="1"], .glasses[data-row="-1"][data-column="-1"] {
  background-position-y: 42.85714%;
}

.glasses[data-row="-1"][data-column="2"], .glasses[data-row="-1"][data-column="-2"] {
  background-position-y: 78.57143%;
}

.glasses[data-row="0"][data-column="0"] {
  background-position-y: 14.28571%;
}

.glasses[data-row="0"][data-column="1"], .glasses[data-row="0"][data-column="-1"] {
  background-position-y: 50%;
}

.glasses[data-row="0"][data-column="2"], .glasses[data-row="0"][data-column="-2"] {
  background-position-y: 85.71429%;
}

.glasses[data-row="1"][data-column="0"] {
  background-position-y: 21.42857%;
}

.glasses[data-row="1"][data-column="1"], .glasses[data-row="1"][data-column="-1"] {
  background-position-y: 57.14286%;
}

.glasses[data-row="1"][data-column="2"], .glasses[data-row="1"][data-column="-2"] {
  background-position-y: 92.85714%;
}

.glasses[data-row="2"][data-column="0"] {
  background-position-y: 28.57143%;
}

.glasses[data-row="2"][data-column="1"], .glasses[data-row="2"][data-column="-1"] {
  background-position-y: 64.28571%;
}

.glasses[data-row="2"][data-column="2"], .glasses[data-row="2"][data-column="-2"] {
  background-position-y: 100%;
}

.header {
  min-height: 100vh;
  margin-bottom: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 799px) {
  .header {
    min-height: auto;
    display: block;
    margin-bottom: 50px;
  }
}

.header-media {
  width: 100%;
}

@media (max-width: 799px) {
  .header-media {
    margin: 50px 0;
  }
}

.header-media,
.header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-right: 25px;
}

@media (max-width: 799px) {
  .header-info {
    padding-right: 0;
  }
}

.header-description {
  margin: 20px 0;
  font: 24px/30px "Crimson Text", serif;
}

@media (max-width: 799px){
  .header-description{
  font: 21px/26px "Crimson Text", serif;
  }
}

.header-title {
  font-size: 32px;
  font-weight: 300;
}

.links {
  font-size: 18px;
}

.links span {
  margin: 0 5px;
  color: lightgray;
}

.links a {
  color: hsl(210, 75%, 45%);
  text-decoration: none;
  white-space: nowrap;
}

.links a:hover {
  text-decoration: underline;
}

.section {
  margin-bottom: 100px;
}

.section-header {
  margin: 30px 0;
  text-align: center;
}

.section-title {
  margin: 0;
  position: relative;
  font-weight: 300;
  font-size: 72px;
}

@media (max-width: 799px) {
  .section-title {
    font-size: 52px;
  }
}

.section-anchor {
  text-decoration: none;
  color: inherit;
}

.section-description {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  font: 24px/30px "Crimson Text", serif;
}

@media (max-width: 799px){
  .section-description{
  font: 21px/26px "Crimson Text", serif;
  }
}

.section-title span {
  margin: 0 -25px;
  padding: 0 25px;
  background: white;
}

.section-title hr {
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -50vw;
  z-index: -1;
  background: lightgray;
  border: 0;
}

.section-group {
  margin: 40px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  text-align: center;
}

.section-group-title {
  margin: 0;
  padding: 0 25px;
  font-size: 32px;
  display: inline-block;
  background: white;
}

@media (max-width: 799px){
  .section-group-title{
  padding: 0 15px;
  }
}

@media (max-width: 799px) {
  .section-group-title {
    font-size: 24px;
  }
}

.section-group-rule {
  width: 75%;
  height: 1px;
  position: absolute;
  top: 18px;
  margin: 0 calc((100% - 75%) / 2);
  z-index: -1;
  background: lightgray;
  border: 0;
}

@media (max-width: 799px){
  .section-group-rule{
  margin: 0 calc((100% - 100%) / 2);
  }
}

@media (max-width: 799px){
  .section-group-rule{
  width: 100%;
  }
}

@media (max-width: 799px) {
  .section-group-rule {
    top: 14px;
  }
}

.section-group-description {
  margin: 0;
  color: gray;
  font-size: 21px;
  font-family: "Crimson Text";
}

.section-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.section-project {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px
}

@media (max-width: 799px){
  .section-project{
          flex: 0 0 100%;
  }
}

@media (max-width: 799px){
  .section-project{
      -ms-flex: 0 0 100%;
  }
}

@media (max-width: 799px){
  .section-project{
  max-width: 100%;
  }
}

.section-projects.compact .section-project{
  max-width: 33.333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

@media (max-width: 799px){
  .section-projects.compact .section-project{
          flex: 0 0 100%;
  }
}

@media (max-width: 999px){
  .section-projects.compact .section-project{
          flex: 0 0 50%;
  }
}

@media (max-width: 599px){
  .section-projects.compact .section-project{
          flex: 0 0 100%;
  }
}

@media (max-width: 799px){
  .section-projects.compact .section-project{
      -ms-flex: 0 0 100%;
  }
}

@media (max-width: 999px){
  .section-projects.compact .section-project{
      -ms-flex: 0 0 50%;
  }
}

@media (max-width: 599px){
  .section-projects.compact .section-project{
      -ms-flex: 0 0 100%;
  }
}

@media (max-width: 799px){
  .section-projects.compact .section-project{
    max-width: 100%;
  }
}

@media (max-width: 999px){
  .section-projects.compact .section-project{
    max-width: 50%;
  }
}

@media (max-width: 599px){
  .section-projects.compact .section-project{
    max-width: 100%;
  }
}

.section-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-project-media {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15),
              0 1px 1px rgba(0, 0, 0, .15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, .15),
              0 1px 1px rgba(0, 0, 0, .15);
}

@media (max-width: 799px) {
  .section-project-media {
    margin-right: 15px;
  }
}

.section-project-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;
}

@media (max-width: 799px) {
  .section-project-title {
    font-size: 26px;
  }
}

.section-project-description {
  margin: 0 0 10px;
  font: 24px/30px "Crimson Text", serif;
}

@media (max-width: 799px){
  .section-project-description{
  font: 21px/26px "Crimson Text", serif;
  }
}

@media (max-width: 799px) {
  .section-project-description {
    margin-top: 5px;
  }
}
