.results {
  max-height: 250px;
  overflow: hidden;
  border-collapse: collapse;
  mask-image: linear-gradient(to bottom, black 50%, hsl(0 0% 0% / 20%));
}

.results table {
  border-radius: 5px;
  border-collapse: collapse;
  color: hsl(0 0% 35%);
  font-size: 16px;
  line-height: 30px;
  font-family: var(--monospace);
  white-space: nowrap;
}

@media (min-width: 1025px) {
  .results table {
    min-width: var(--main-width);
  }
}

@media (max-width: 1024px) {
  .results table {
    min-width: 100%;
  }
}

.results th {
  text-align: left;
}

.results td,
.results th {
  padding: 0 10px;
}

.results tr:nth-child(even) td {
  background: hsl(0 0% 90%);
}

.results th {
  padding-top: 5px;
  border-bottom: var(--stroke) solid hsl(0 0% 80%);
}

.results th:first-child,
.results td:first-child {
  padding-left: 10px;
}

.results th:last-child,
.results td:last-child {
  padding-right: 10px;
}

.results tr:last-child td {
  padding-bottom: 5px;
}
