.results {
  border-collapse: collapse;
}

.results table {
  min-width: var(--main-width);
  border-radius: 5px;
  border-collapse: collapse;
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-family: monospace;
  white-space: nowrap;
}

.results th {
  text-align: left;
}

.results td,
.results th {
  padding: 0 10px;
}

.results tr:nth-child(even) td {
  background: hsl(0 0% 100% / 15%);
}

.results th {
  padding-top: 5px;
  border-bottom: 4px solid hsl(0 0% 100% / 35%);
}

.results th:first-child,
.results td:first-child {
  padding-left: 10px;
}

.results th:last-child,
.results td:last-child {
  padding-right: 10px;
}

.results tr:last-child td {
  padding-bottom: 5px;
}
