.container {
  display: flex;
  margin: 50px;
}

.card {
  display: flex;
  position: relative;
  width: 320px;
  overflow: hidden;
  border-radius: 20px;
}

.title {
  position: absolute;
  top: 25px;
  left: 30px;
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 28px;
}
