.glasses {
  --width: 30%;
  width: var(--width);
  margin: 0 auto;
  padding-bottom: calc(570 / 1060 * var(--width));
  background-image: url("/images/glasses.jpg");
  background-size: cover;
  background-position-y: calc(var(--background-position) * 100%);
  transform: scaleX(var(--scale-x));
}
