.container {
  width: 40em;
  margin: 0 auto 10em auto;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.3px;
  text-align: justify;
}

.container p {
  margin: 30px 0;
}

.container li {
  margin: 30px 0;
  list-style: none;
}

.container li::before {
  margin-left: -10px;
  padding-right: 10px;
  content: "—";
  font-weight: 700;
}

.card {
  --buffer: 3vw;
  --width: 100vw - 2 * var(--buffer);
  position: relative;
  width: calc(var(--width));
  height: calc((var(--width)) * 0.5);
  margin: var(--buffer);
  border-radius: calc(var(--buffer) * 0.5);
  background: black;
}

.title {
  position: absolute;
  right: 60%;
  bottom: 50%;
  color: white;
  font-size: 64px;
}

.tagline {
  position: absolute;
  top: 50%;
  right: 60%;
  margin-top: 20px;
  color: lightgray;
  font-weight: 400;
  text-align: right;
}

.editor {
  position: absolute;
  bottom: 50%;
  left: 40%;
  width: 40em;
  height: 10em;
  margin-left: 40px;
}

.codeContainer {
  height: 100%;
}

.results {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 40px;
  color: white;
}

.aside {
  width: 15em;
  margin: 15px -8em 15px 20px;
  padding: 0 10px;
  float: right;
  border-left: 5px solid rgb(245, 245, 250);
  font-size: 16px;
  line-height: 20px;
}
