footer {
  position: relative;
}

.footer-contact {
  --gutter: 15px;
  margin: 0 -var(--gutter);
  padding: 0 var(--gutter);
  background: white;
  text-decoration: none;
  color: var(--link-color);
  font-size: 21px;

  &:hover {
    text-decoration: underline;
  }
}

.footer-rule {
  width: 100vw;
  height: 1px;
  margin-left: -50vw;
  position: absolute;
  top: 4px;
  left: 50%;
  z-index: -1;
  background: lightgray;
  border: 0;
}

.footer-copyright {
  font-family: "Crimson Text";
  text-align: right;
  font-size: 14px;
  color: gray;
}
