.glasses {
  --width: 80%;
  width: var(--width);
  margin: 0 auto;
  padding-bottom: calc(570 / 1060 * var(--width));
  background-image: url("/images/glasses.jpg");
  background-size: cover;

  &[data-column^="-"] {
    transform: scaleX(-1);
  }

  @for $row from -2 to 2 {
    &[data-row="$row"] {
      &[data-column="0"] {
        background-position-y: calc(($row + 2) / 14 * 100%);
      }
      @for $column from 1 to 2 {
        &[data-column="$column"], &[data-column="-$column"] {
          background-position-y: calc(($row + 2 + $column * 5) / 14 * 100%);
        }
      }
    }
  }
}
