.header {
  min-height: 100vh;
  margin-bottom: -200px;
}

.header-info {
  width: 400px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: right;
}

.header-description {
  text-align: left;
  font-family: "Crimson Text";
  font-size: 24px;
}

.header-attribution {
  font-size: 32px;
  font-weight: 300;
}

.header-contact {
  display: inline-block;
  margin-top: 10px;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
