.header {
  min-height: 100vh;
  margin-bottom: -200px;
}

.header-info {
  max-width: 400px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.header-description {
  margin: 20px 0;
  font: var(--text);
}

.header-title {
  font-size: 32px;
  font-weight: 300;
}

.header-contact {
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }
}
