.section {
  margin: 50px 0 65px;

  @media (width < 800px) {
    margin: 25px;
  }
}

.section-header {
  margin: 30px 0;
  text-align: center;
}

.section-title {
  margin: 0;
  position: relative;
  font-weight: 300;
  font-size: 4em;
}

.section-description {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  font-family: "Crimson Text";
  font-size: 24px;
}

.section-title span {
  --gutter: 25px;
  margin: 0 -var(--gutter);
  padding: 0 var(--gutter);
  background: white;
}

.section-title hr {
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -50vw;
  z-index: -1;
  background: lightgray;
  border: 0;
}

.section-group {
  margin: 10px 0;
  flex: 0 0 100%;
  position: relative;
  text-align: center;
}

.section-group-title {
  --gutter: 25px;
  margin: 0;
  padding: 0 var(--gutter);
  font-size: 32px;
  display: inline-block;
  background: white;
}

.section-group-rule {
  --width: 60%;
  width: var(--width);
  height: 1px;
  position: absolute;
  top: 18px;
  margin: 0 calc((100% - var(--width)) / 2);
  z-index: -1;
  background: lightgray;
  border: 0;
}

.section-group-description {
  margin: 0;
  color: gray;
  font-size: 21px;
  font-family: "Crimson Text";
}

.section-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.section-project {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 25px;

  @media (width < 800px) {
    flex: 0 0 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.section-project-header {
  display: flex;
  align-items: center;
}

.section-project-media {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.section-project-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;
}

.section-project-description {
  margin: 10px 0 10px;
  font-family: "Crimson Text";
  font-size: 21px;
}

.section-project-links span {
  margin: 0 5px;
  color: lightgray;
}

.section-project-links a {
  color: var(--link-color);
  text-decoration: none;
  white-space: nowrap;
}

.section-project-links a:hover {
  text-decoration: underline;
}
