.section {
  margin-bottom: 100px;
}

.section-header {
  margin: 30px 0;
  text-align: center;
}

.section-title {
  margin: 0;
  position: relative;
  font-weight: 300;
  font-size: 72px;

  @media (--one-column) {
    font-size: 52px;
  }
}

.section-anchor {
  text-decoration: none;
  color: inherit;
}

.section-description {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  font: var(--text);
}

.section-title span {
  --gutter: 25px;
  margin: 0 -var(--gutter);
  padding: 0 var(--gutter);
  background: white;
}

.section-title hr {
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -50vw;
  z-index: -1;
  background: lightgray;
  border: 0;
}

.section-group {
  margin: 40px 0 0;
  flex: 0 0 100%;
  position: relative;
  text-align: center;
}

.section-group-title {
  --gutter: 25px;
  margin: 0;
  padding: 0 var(--gutter);
  font-size: 32px;
  display: inline-block;
  background: white;

  @media (--one-column) {
    --gutter: 15px;
    font-size: 24px;
  }
}

.section-group-rule {
  --width: 75%;
  width: var(--width);
  height: 1px;
  position: absolute;
  top: 18px;
  margin: 0 calc((100% - var(--width)) / 2);
  z-index: -1;
  background: lightgray;
  border: 0;

  @media (--one-column) {
    --width: 100%;
    top: 14px;
  }
}

.section-group-description {
  margin: 0;
  color: gray;
  font-size: 21px;
  font-family: "Crimson Text";
}

.section-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.section-project {
  --size: 50%;
  max-width: var(--size);
  flex: 0 0 var(--size);
  box-sizing: border-box;
  padding: 10px 20px;

  @nest .section-projects.compact & {
    --size: 33.333%;
    max-width: var(--size);
    flex: 0 0 var(--size);

    @media (width < 600px) {
      --size: 100%;
    }

    @media (width < 1000px) {
      --size: 50%;
    }
  }

  @media (--one-column) {
    --size: 100%;
  }
}

.section-project-header {
  display: flex;
  align-items: center;
}

.section-project-media {
  --size: 75px;
  width: var(--size);
  height: var(--size);
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15),
              0 1px 1px rgba(0, 0, 0, 0.15);

  @media (--one-column) {
    margin-right: 15px;
  }
}

.section-project-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;

  @media (--one-column) {
    font-size: 26px;
  }
}

.section-project-description {
  margin: 0 0 10px;
  font: var(--text);

  @media (--one-column) {
    margin-top: 5px;
  }
}
